
/**********/
/* CONFIG */
/**********/
.body {
  height: 100vh;
  width: 100vw;
  
}




.hidden {
  opacity: 0;
  pointer-events:none;
  overflow: hidden;}
 


@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

p{
  font-family: 'Inter', sans-serif;

}

/**********/
/*LOADING*/
/**********/


.loading{
  background-color: #c1bcff;
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
}

.splash{
  padding-top: 10%;
  height: 50%;
}

.splash img{
  width: fit-content;
}

.Initializing{
opacity: 1;
width: 25%;
}



/**********/
/*BACKGROUND*/
/**********/
#screen{
  background-image: #e0aa07;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background{
  color: #ebe9e3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}



/**********/
/*BAR*/
/**********/

.taskbar{
  margin: 3em;
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #EEE8D9;
  height: 3em!important;
  border: 3px solid #000000;
  border-bottom: 8px solid #000000;
  border-right: 8px solid #000000;
  border-radius: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task_content{
  display: flex;
  align-items: center;
  width: 20%;
}

#task_middle{
  margin-left: 10%;
}



.taskbar img{
  width: 35px;
  margin-left: 5%;
}

.taskbar p{
  font-size:large;
  margin-left: 10%;
  margin-bottom: 0!important;
}






/**********/
/* HERO */
/**********/
.hero{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
    
    }


.window{
  pointer-events:auto;
  background-color: #EEE8D9;
  border: 3px solid #000000;
  border-bottom: 8px solid #000000;
  border-right: 8px solid #000000;
  border-radius: 4%;
}

.window-hidden {
	display: none;
  pointer-events:none;
}


.window-transition.window-hidden {
	display: block;
	opacity: 0;
  pointer-events: auto;
  transform: scale(0.5);
}

.window-transition {
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: scale(1);
    transition: opacity 0.2s 0s ease-in-out,  
                transform 0.2s 0s ease-in-out;
	
  
}


.bar{
  display: flex;
  
 
  height: 9%;
  border-bottom: 3px solid #000000;}

.bar h5 {
  width: 50%;
  margin:auto;
  bottom: 25%;
  font-family: 'Viga', sans-serif;
  color: #000000;
  font-size:1rem;
}

.dot {
  align-self: start;
  height: 20px;
  width: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  
}

.right{
  width: 40px;
}




#about {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 30vw;
    height: 30rem;
    left: 20%;
    top: 5rem;
  }
  
  #aboutheader {
    cursor: move;
    z-index: 10;
  }


  #error {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 30vw;
    height: 30rem;
    left: 20%;
    top: 5rem;
  }
  
  #errorheader {
    cursor: move;
    z-index: 10;
  }


  
  #projects {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 30vw;
    height: 30rem;
  }
  
  #projectsheader {
    cursor: move;
    z-index: 10;
  }




/**********/
/*SHORTCUTS*/
/**********/

.icon{
  width: min-content;
  padding: 10px;
}

.icon img{
  width: 100px;
}

.icon p{
  text-align: center;}

.shortcuts{
  display: flex;
  flex-direction: row;
}

#left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

#middle {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}

#right {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}










.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #fff;
  border-radius: 7px;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}