

/**********/
/* HEADER */
/**********/

.navbar{
background-color: antiquewhite;
width: 100%;
padding: 2rem;
padding-bottom: 0;
font-weight: bold;
font-size: 30px;
display: flex;
}


/**********/
/* HERO */
/**********/
.hero{
    height: 70vh;
    padding-top: 2rem;
    background-color: antiquewhite;
    }

#drag {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }



  
/**********/
/* PROJECTS */
/**********/
.projects{
    width: 100vh;
          height: 100vw;
          transform: rotate(-90deg) translateX(-100vh);
          transform-origin: top left;
          overflow-y: scroll;
          overflow-x: hidden;
          position: absolute;
    }

    .slide {
        width: 50vw;
        height: 50vh;
      }
      .wrapper {
        display: flex;
        flex-direction: row;
        width: 200vw;
        
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
      }
      .one {
        background: #efdefe;
      }
      .two {
        background: #a3f3d3;
      }
      .three {
        background: #0bbaa0;
      }
      .four {
        background: #00dfdf;
      }    

      
        
    