
/**********/
/* CONFIG */
/**********/
.body {
  height: 100vh;
  width: 100vw;
  
}





@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');











/**********/
/*BACKGROUND*/
/**********/
#screen{
  background-color: #e0aa07;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background{
  color: #ebe9e3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/**********/
/* HERO */
/**********/
.hero{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
    
    }


.window{
  pointer-events:auto;
  background-color: #EEE8D9;
  border: 3px solid #000000;
  border-bottom: 8px solid #000000;
  border-right: 8px solid #000000;
  border-radius: 4%;
}

.window-hidden {
	display: none;
  pointer-events:none;
}


.window-transition.window-hidden {
	display: block;
	opacity: 0;
}

.window-transition {
	transition: opacity 1s ease;
  
}


.bar{
  display: flex;
  
 
  height: 9%;
  border-bottom: 3px solid #000000;}

.bar h5 {
  width: 50%;
  margin:auto;
  bottom: 25%;
  font-family: 'Viga', sans-serif;
  color: #000000;
  font-size:1rem;
}

.dot {
  align-self: start;
  height: 20px;
  width: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  
}

.right{
  width: 40px;
}




#home {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 30vw;
    height: 30rem;
    left: 20%;
    top: 5rem;
  }
  
  #homeheader {
    cursor: move;
    z-index: 10;
  }



  
  #projects {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 30vw;
    height: 30rem;
  }
  
  #projectsheader {
    cursor: move;
    z-index: 10;
  }




/**********/
/*SHORTCUTS*/
/**********/

.icon{
  width: min-content;
}

.shortcuts{
  display: flex;
  flex-direction: row;
}

#left {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

#middle {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}

#right {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
